<head>
        <link rel="stylesheet" href="../static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
        <title>Hack The 6ix Project</title>
</head>
<body>
        <header class="web-header">
                <div class="header-logo">
                        <a href="home.html"><img class="header-logo-image" src="../static/images/qmind-concept1.png"></a>
                </div>
                <nav>
                        <ul>
                                <a href="/" class="button-1">About</a>
                                <a href="signup.html" class="button-1">Sign Up</a>
                        </ul>
                </nav>
        </header>
        <div class="main-body-content">
                <div class="left-hover">
                        <div class="tagline">
                                <h1> Snap a pic, track your <br> money...</h1>
                        </div>
                        <div class="description">
                                <p class="spacer-1rem"> <em> It's that easy. </em></p>
                                <p> Track your receipts, allowing you to <br> track your finances, budgeting, and tax returns.</p>
                                <ul>
                                        <li>• Easy upload</li>
                                        <li>• Automatic GST/HST tracking</li>
                                        <li>• Comprehensive overview</li>
                                </ul>
                                <ul class="home-options">
                                        <a href="upload.html" class="button-1">Upload</a>
                                        <a href="overview.html" class="button-1">Overview</a>
                                </ul>
                        </div>
                </div>
                <div class="landing-graphic">
                        <img class="landing-graphic-image" src="../static/images/coins.png" alt="fun-coins">
                </div>
        </div>
</body>
<!--
<h1>Home</h1>

        <div class="selectOption">
                
                <a href="/view" id="View">View Previous</a>
                <a href="/overview" id="Overview">Overview</a>
        <div class = "textblock">

                <h1 class = "statement">Snap a pic, track your money...</h1>
        
                <p>It's <em>that</em> easy</p>
        
                <p>Track your recipts, allowing you to track your fiances, budgeting, and tax returns.</p>
                
                <ul>
                <li>Easy Upload</li>
                <li>Automatic GST/HST tracking</li>
                <li>Comprehensive overview</li>
                </ul>
        </div>
        
        </div>

{% endblock %}
</body>
</html>