{%extends "base.html"%} 
{% block title%} Home {% endblock %}
{% block content %}

<head>
        <link rel="stylesheet" href="style.css">
        <title>Hack The 6ix Project</title>
</head>
<body>
        <header class="web-header">
                <div class="header-logo">
                        <img class="header-logo-image" src="images/qmind-concept1.png">
                </div>
                <nav>
                        <ul>
                                <a href="" class="button-1">About</a>
                                <a href="" class="button-1">Sign Up</a>
                        </ul>
                </nav>
        </header>
        <div class="main-body-content">
                <div class="left-hover">
                        <div class="tagline">
                                <h1>Snap a pic, track your</h1>
                                <h1>money...</h1>
                        </div>
                        <div class="description">
                                <p class="spacer-1rem"> <em> It's that easy. </em></p>
                                <p> Track your receipts, allowing you to <br> track your finances, budgeting, and tax returns.</p>
                                <ul>
                                        <li>• Easy upload</li>
                                        <li>• Automatic GST/HST tracking</li>
                                        <li>• Comprehensive overview</li>
                                </ul>
                                <ul class="home-options">
                                        <a href="" class="button-1">Upload</a>
                                        <a href="" class="button-1">Overview</a>
                                </ul>
                        </div>
                </div>
                <div class="landing-graphic">
                        <img class="landing-graphic-image" src="images/coins.png" alt="fun-coins">
                </div>
        
        </div>
<!--
<h1>Home</h1>

        <div class="selectOption">
                
                <a href="/view" id="View">View Previous</a>
                <a href="/overview" id="Overview">Overview</a>
        <div class = "textblock">

                <h1 class = "statement">Snap a pic, track your money...</h1>
        
                <p>It's <em>that</em> easy</p>
        
                <p>Track your recipts, allowing you to track your fiances, budgeting, and tax returns.</p>
                
                <ul>
                <li>Easy Upload</li>
                <li>Automatic GST/HST tracking</li>
                <li>Comprehensive overview</li>
                </ul>
        </div>
        
        </div>

{% endblock %}
</body>
</html>