<head>
    <link rel="stylesheet" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <title>Hack The 6ix Project</title>
</head>
<body>
    <header class="web-header">
            <div class="header-logo">
                    <a href="home.html"><img class="header-logo-image" src="../static/images/qmind-concept1.png"></a>
            </div>
            <nav>
                    <ul>
                            <a href="/" class="button-1">About</a>
                            <a href="signup.html" class="button-1">Sign Up</a>
                    </ul>
            </nav>
    </header>
    <div class="main-body-content">
        <div class="overview-dashboard">
            <div class="overview-header">
                <div class="options-overview">
                    <a class="button-1" href="upload.html">Upload</a>
                </div>
                <p>Total: </p>
                <p id="totalTax">Total GST/HST: </p>
            </div>
            <div class="overview-table">
              
                        
                <table class="o-table" >
                    <thead>
                        <tr>
                         <th class="t-date green-text">Date</th>
                            <th class="t-average green-text">Total</th>
                            <th class="t-gst-hst green-text">GST/HST</th>
                            <th class="t-file green-text">File</th>
                        </tr>
                    </thead>
                        <tbody id="tableData"></tbody>
                    </table>
                    
               
            </div>
            <div class="overview-footer">
                <p>Budget Progress:</p>
                <div class="p-bar-total">
                    <p class="p-bar-total-number"> $672 </p>
                    <div class="p-bar-current">
                        <p class="p-bar-current-number">$257</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var json = [{ // THIS would be the response from the api
            subtotal: 50,
            total: 55,
            taxes: 5,
            items: ["Salmon 5.00", "Water 45.00"]
        }]

        var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/'); //todays date
        
        var k = '<tbody>'
        for(i = 0;i < json.length; i++){
            k+= '<tr>';
            k+= '<td>' + utc + '</td>';
            k+= '<td>' + json[i].total + '</td>';
            k+= '<td>' + json[i].taxes + '</td>';

            let str = ""
            for (k = 0; k <json.items.length; k++) {
                str+= json.items[k] + ", "
            }

            k+= '<td>' + str + '</td>';
            k+= '<td href="LinkToPicHere">' + "View Recipt" + '</td>';


            k+= '</tr>';
        }
    k+='</tbody>';
    document.getElementById('tableData').innerHTML = k;



    </script>
</body>