<head>
  <link rel="stylesheet" href="../static/style.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  <title>Hack The 6ix Project</title>
</head>
<body>
  <header class="web-header">
          <div class="header-logo">
                  <a href="home.html"><img class="header-logo-image" src="../static/images/qmind-concept1.png"></a>
          </div>
          <nav>
                  <ul>
                          <a href="/" class="button-1">About</a>
                          <a href="signup.html" class="button-1">Sign Up</a>
                  </ul>
          </nav>
  </header>
  <div class="main-body-content">
  <div class="upload-form">
<h1>Upload Receipts</h1>

<form action="../database.db" method="POST"  enctype="multipart/form-data">
<input type="file" accept="image/*" name="file" id="fileUpload">

<script>
  resData = ""

const handleImageUpload = event => {
  console.log("pen")
  const files = event.target.files
  const formData = new FormData()
  formData.append('myFile', files[0])

  fetch('127.0/save', {
    method: 'POST',
    body: formData
  })
  .then(response => {
   resData = response.text // data of api call
// do stuff with variable. 
  }) 
  .then(data => {
    console.log(data.path) // image path
  })
  .catch(error => {
    console.error(error)
  })
}

document.querySelector('#fileUpload').addEventListener('change', event => {
  handleImageUpload(event)
})
</script>
<div class="form-group">
  <button href="home.html" type="submit" class="submit-button">Upload</button>
</div>
</form>
<div class="background-graphics">
  <img class="background-graphic-right" src="../static/images/coins.png" alt="coins">
  <img class="background-graphic-left" src="../static/images/coins.png" alt="coins">
</div>
</div>
</div>
</body>